* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: lightgrey;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.box, .result-box {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 15px;
    color: #555;
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
}

#income-warning {
    color: red;
    font-size: 12px;
    display: none;
}

.submit-btn {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.submit-btn:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.result-box {
    display: none; /* Hidden by default */
}

@media only screen and (max-width: 600px) {
    input {
        width: 100%;
    }

    .box, .result-box {
        padding: 15px;
    }
}
